{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div class="navigation-group">
        {% for group in groups %}
            <div>
                <a {% ifequal group.id current_group_id %}class="selected"{% endifequal %}
                   href="{% url lfc_manage_group group.id %}">
                    {{ group.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

    <div id="menu"
         class="site-actions">

        <ul class="sf-menu">
            <li>
                <a href="{% url lfc_manage_add_group %}">{% trans "Add Group" %}</a>
            </li>
            <li>
                <a class="delete-link" href="{% url lfc_manage_delete_group current_group_id %}">{% trans "Delete group" %}</a>
            </li>
        </ul>
    </div>

    <div style="clear:both; padding:10px 20px 0 0" id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans "Data" %}</a></li>
        </ul>

        <div id="data">
            <form action="{% url lfc_manage_save_group group.id %}"
                  method="POST">
                {% include "lfc/manage/lfc_form.html" %}
                <input type="submit" value='{% trans "Save group" %}' />
            </form>
        </div>
    </div>


{% endblock %}