{% load i18n %}
{% load lfc_tags %}

{% if LFC_MULTILANGUAGE %}
    <ul class="sf-menu">
        <li>
            <a>{% trans current_language %}</a>
            <ul>
                {% for language in languages %}
                    <li>
                        <a href="{% url lfc_set_navigation_tree_language language.code %}">{% trans language.name %}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>    
{% endif %}

<div class="navigation-manage" style="clear:both">
    <ul class="level-1">
        <li {% if is_portal %}class="current"{% endif %}>
            <a href="{% url lfc_manage_portal %}">{% trans 'Portal' %}</a>
        </li>
        <li>
            <ul class="level-{{ level }}">
                {% for obj in objs %}
                    <li {% if obj.is_current %}class="current"{% endif %}>
                        <span>
                            <a href="{% url lfc_manage_object obj.id %}">
                                {{ obj.title }}
                            </a>
                        </span>
                    </li>
                    {{ obj.children }}
                {% endfor %}
            </ul>
        </li>
    <ul>
</div>