{% load i18n %}
{% load lfc_tags %}

<div id="manage-tabs">
    <ul>
        <li><a id="core_name" href="#core_data">{% trans content_type_name %}</a></li>

        {% for tab in tabs %}
            <li>
                <a href="#{{ tab.id }}">{{ tab.name }}</a>
            </li>
        {% endfor %}
        {% if meta_data %}
            <li><a href="#meta_data">{% trans 'Metadata' %}</a></li>
        {% endif %}
        {% if obj.has_children_tab %}
            <li><a href="{% url 'lfc_load_object_children' obj.id %}">{% trans 'Children' %}</a></li>
        {% endif %}
        {% if images %}
            <li><a href="#images">{% trans 'Images' %}</a></li>
        {% endif %}
        {% if files %}
            <li><a href="#files">{% trans 'Files' %}</a></li>
        {% endif %}
        {% if obj.has_portlets_tab %}
            <li><a href="{% url 'lfc_load_object_portlets' obj.id %}">{% trans 'Portlets' %}</a></li>
        {% endif %}
        {% if comments %}
            <li><a href="#comments">{% trans 'Comments' %}</a></li>
        {% endif %}
        {% if seo_data %}
            <li><a href="#seo_data">{% trans 'SEO' %}</a></li>
        {% endif %}
        {% if obj.has_permissions_tab %}
            <li class="ui-tabs-nav-item"><a href="{% url 'lfc_load_object_permissions' obj.id %}">{% trans 'Permissions' %}</a></li>
        {% endif %}
    </ul>

    <div id="core_data">
        {{ core_data|safe }}
    </div>
    {% if meta_data %}
        <div id="meta_data">
            {{ meta_data|safe }}
        </div>
    {% endif %}
    {% if seo_data %}
        <div id="seo_data">
            {{ seo_data|safe }}
        </div>
    {% endif %}
    {% if images %}
        <div id="images">
            {{ images }}
        </div>
    {% endif %}
    {% if files %}
        <div id="files">
            {{ files }}
        </div>
    {% endif %}
    {% if comments %}
        <div id="comments">
            {{ comments }}
        </div>
    {% endif %}

    {% for tab in tabs %}
        <div id="{{ tab.id }}">{{ tab.content }}</div>
    {% endfor %}

</div>
