{% load i18n %}
{% load lfc_tags %}

<div id="manage-tabs">
    <ul>
        <li><a id="core_name" href="#core_data">{% trans content_type_name %}</a></li>
        
        {% for tab in tabs %}
            <li>
                <a href="#{{ tab.id }}">{{ tab.name }}</a>
            </li>
        {% endfor %}
        
        <li><a href="#meta_data">{% trans 'Metadata' %}</a></li>
        <li><a href="{% url lfc_load_object_children obj.id %}">{% trans 'Children' %}</a></li>
        <li><a href="#images">{% trans 'Images' %}</a></li>
        <li><a href="#files">{% trans 'Files' %}</a></li>
        <li><a href="{% url lfc_load_object_portlets obj.id %}">{% trans 'Portlets' %}</a></li>
        {% if LFC_MANAGE_COMMENTS %}
            <li><a href="#comments">{% trans 'Comments' %}</a></li>
        {% endif %}                
        {% if LFC_MANAGE_SEO %}
            <li><a href="#seo_data">{% trans 'SEO' %}</a></li>
        {% endif %}
        {% if LFC_MANAGE_PERMISSIONS %}
            <li class="ui-tabs-nav-item"><a href="{% url lfc_load_object_permissions obj.id %}">{% trans 'Permissions' %}</a></li>
        {% endif %}
    </ul>

    <div id="core_data">
        {{ core_data|safe }}
    </div>
    <div id="meta_data">
        {{ meta_data|safe }}
    </div>
    {% if LFC_MANAGE_SEO %}
        <div id="seo_data">
            {{ seo_data|safe }}
        </div>
    {% endif %}
    <div id="images">
        {{ images }}
    </div>
    <div id="files">
        {{ files }}
    </div>
    {% if LFC_MANAGE_COMMENTS %}
        <div id="comments">
            {{ comments }}
        </div>
    {% endif %}
    
    {% for tab in tabs %}
        <div id="{{ tab.id }}">{{ tab.content }}</div>
    {% endfor %}
    
</div>