{% load i18n %}
{% load lfc_tags %}

{% ifhasperm edit %}
    <form action="{% url lfc_save_meta_data obj.id %}"
          method="POST">

            {% include "lfc/manage/lfc_form.html" %}

            <div class="field">
                <div class="label">
                    <label>{% trans "Creation date" %}:</label>
                </div>
                <div>
                    {{ obj.creation_date }}
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label>{% trans "Modification date" %}:</label>
                </div>
                <div>
                    {{ obj.modification_date }}
                </div>
            </div>


        <input class="ajax-save-button"
               type="submit"
               value="{% trans 'Save metadata' %}" />
    </form>

{% else %}

    {% include "lfc/manage/lfc_form_view.html" %}

    <div class="field">
        <div class="label">
            <label>{% trans "Creation date" %}:</label>
        </div>
        <div>
            {{ obj.creation_date }}
        </div>
    </div>

    <div class="field">
        <div class="label">
            <label>{% trans "Modification date" %}:</label>
        </div>
        <div>
            {{ obj.modification_date }}
        </div>
    </div>

{% endifhasperm %}
