{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div id="navigation">
        {{ navigation }}
    </div>
{% endblock %}

{% block content %}

    <div class="site-actions">

        {% if display_content_menu %}
            <ul class="sf-menu sf-sub-menu">
                <li>
                    <a>{% trans "Add" %}</a>
                    <ul>
                    {% for content_type in content_types %}
                        <li>
                            <a href="{% url lfc_add_top_object %}?type={{content_type.type}}">Add {{content_type.name}}</a>
                       </li>
                    {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/">{% trans 'View portal' %}</a>
                </li>
            </ul>

        {% else %}
            {% for content_type in content_types %}
                <a href="{% url lfc_add_top_object  %}?type={{ content_type.type }}">Add {{ content_type.name }}</a>
            {% endfor %}
        {% endif %}

    </div>

    <div style="clear:both" id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Portal' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#portlets">{% trans 'Portlets' %}</a></li>
        </ul>

        <div id="data">
            {{ core_data|safe }}
        </div>
        <div id="portlets">
            {{ portlets|safe }}
        </div>
    </div>
{% endblock %}