{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div id="navigation">
        {{ navigation }}
    </div>
{% endblock %}

{% block content %}

    <div class="site-actions">
        <ul class="sf-menu">
            <li>
                {% if display_content_menu %}
                    <a>{% trans "Add" %}</a>
                    <ul>
                    {% for content_type in content_types %}
                        <li>
                            <a href="{% url lfc_add_top_object %}?type={{content_type.type}}">{{ content_type.name }}</a>
                       </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {% for content_type in content_types %}
                        <a href="{% url lfc_add_top_object  %}?type={{ content_type.type }}">{{ content_type.name }}</a>
                    {% endfor %}
                {% endif %}
            </li>
            <li>
                <a href="/">{% trans 'View' %}</a>
            </li>
        </ul>

    </div>

    <div style="clear:both" id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Portal' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#images">{% trans 'Images' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#portlets">{% trans 'Portlets' %}</a></li>
        </ul>

        <div id="data">
            {{ core_data|safe }}
        </div>
        <div id="images">
            {{ images|safe }}
        </div>
        <div id="portlets">
            {{ portlets|safe }}
        </div>
    </div>
{% endblock %}