{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div class="navigation-group">
        {% for role in roles %}
            <div>
                <a {% ifequal role.id current_role_id %}class="selected"{% endifequal %}
                   href="{% url 'lfc_manage_role' role.id %}">
                    {% trans role.name %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

    <div id="menu"
         class="site-actions">

        <ul class="sf-menu">
            <li>
                <a href="{% url 'lfc_manage_add_role' %}">{% trans "Add Role" %}</a>
            </li>
            <li>
                <a class="delete-link" href="{% url 'lfc_manage_delete_role' current_role_id %}">{% trans "Delete Role" %}</a>
            </li>
        </ul>
    </div>

    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans "Data" %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#users">{% trans "Users" %}</a></li>
        </ul>

        <div id="data">
            <h2 class="first-heading">{% trans "Data" %}</h2>
            <form action="{% url 'lfc_manage_save_role' role.id %}"
                  method="POST">
                {% csrf_token %}
                {% include "lfc/manage/lfc_form.html" %}
                <input type="submit" value='{% trans "Save role" %}' />
            </form>
        </div>
        <div id="users">
            <h2 class="first-heading">{% trans "Users" %}</h2>

            <table class="lfs-manage-table">
                <th>
                    {% trans "Username" %}
                </th>
                <th>
                    {% trans "Name" %}
                </th>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{% url 'lfc_manage_user' user.id %}">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% endif %}
                            {% if user.last_name %}
                                {{ user.last_name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}
