{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div class="user-filter">
        <input class="user-name-filter" name="user_name_filter" data="{% url lfc_manage_set_user_filter %}?user={{ current_user_id }}" type="text" value="{{ user_name_filter }}"/>
        <a class="ajax-link reset-link"
           href="{% url lfc_manage_reset_user_filter %}?user={{ current_user_id }}">
           <img class="icon" src="{{ MEDIA_URL }}lfc/icons/cancel.png" title="{% trans 'Last' %}"/>
        </a>
    </div>

    <div id="navigation">
        {{ navigation }}
    </div>
{% endblock %}

{% block content %}

    <div id="menu"
         class="site-actions">

        <ul class="sf-menu">
            <li>
                <a href="{% url lfc_manage_users %}">{% trans "Overview" %}</a>
            </li>            
        </ul>
    </div>

    <div style="clear:both; padding:20px 20px 0 0" id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans "Data" %}</a></li>
        </ul>

        <div id="data">
            <form action="{% url lfc_add_user %}"
                  method="POST">
                {% include "lfc/manage/lfc_form.html" %}

                <input type="submit"
                       value="{% trans 'Save user' %}" />

            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#id_username").focus();
        })
    </script>

{% endblock %}