{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left_slot %}
    <div class="user-filter">
        <input class="user-name-filter" name="user_name_filter" data="{% url lfc_manage_set_user_filter %}?user={{ current_user_id }}" type="text" value="{{ user_name_filter }}"/>
        <a class="ajax-link reset-link"
           href="{% url lfc_manage_reset_user_filter %}?user={{ current_user_id }}">
           <img class="icon" src="{{ MEDIA_URL }}lfc/icons/cancel.png" title="{% trans 'Last' %}"/>
        </a>
    </div>

    <div id="navigation">
        {{ navigation }}
    </div>

{% endblock %}

{% block content %}
    <div id="menu"
         class="site-actions">
         {{ menu|safe }}
    </div>

    <div style="clear:both; padding:20px 20px 0 0" id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans "Data" %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#password">{% trans "Change password" %}</a></li>
        </ul>

        <div id="data">
            {{ data }}
        </div>

        <div id="password">
            {{ password }}
        </div>

    </div>
{% endblock %}