{% extends "lfc/manage/base.html" %}
{% load i18n %}

{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div style="margin:20px 0 0 20px">
        <div id="manage-tabs">
            <ul>
                <li class="ui-tabs-nav-item"><a href="#data">{% trans "Utilities" %}</a></li>
            </ul>

            <div id="data">
                <h1>{% trans "Utilities" %}</h1>
                <ul>
                    <li>
                        <a href="{% url 'lfc_reindex_objects' %}">
                            {% trans "Reindex Objects" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'lfc_manage_update_all_permissions' %}">
                            {% trans "Update Permissions" %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
