{% load i18n %}

<div style="width:400px; height:400px">
    <h1 class="first-heading">
        {% trans "Edit transition:" %} "{% trans transition.name %}"
    </h1>
    <form action="{% url 'lfc_manage_save_workflow_transition' transition.id %}"
          method="POST">
        {% csrf_token %}
        {% include "lfc/manage/lfc_form.html" %}
        <div class="manage-form-buttons">
            <input class="ajax-submit"
                   type="submit" value='{% trans "Save" %}' />
        </div>
    </form>
</div>
