/* ui-tabs overwrites */
body {
    font-size: 77% !important;
    background-color: white;
    font-family: Verdana;
}

/* General */
textarea {
    width: 672px;
    height: 100px;
}

select {
    width: 200px;
}

select.users-active-filter {
    width: 100px;
}

input[type='text'] {
    width: 200px;
}

input.position {
    width: 30px !important;
}

.user-filter {
    padding:5px 0 10px 0;
}
input.user-name-filter {
    width: 175px;
}

input.position {
    width: 50px;
    size: 5;
}

img {
    border: none;
}

a  {
    text-decoration: none;
}

.discreet {
    color: #999;
    font-size: 90%;
}

.selected {
    font-weight: bold;
}

.lfc-header {
    background: url("../img/header_bg.jpg") repeat-x;
    padding: 0 20px;
}

.username {
    float:right;
    padding-right: 30px;
    padding-top: 30px;
}

h1 {
    font-size: 131%;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 123.1%;
    font-weight: bold;
}

h2.manage-title {
    padding-top: 10px;
    border:none;
}

h3 {
    font-size: 100.1%;
    font-weight: bold;
    margin-bottom: 5px;
}

.first-heading {
    margin-top: 0;
}

.middle-heading {
    margin-top: 20px;
}

/* Images */
img.icon-padding {
    position:relative; top:3px;
}

.logo {
    float:left;
    padding: 0 0 15px 60px;
    height: 93px;
}

/* Tables */
table.main {
    width: 99%;
    padding: 0 20px;
}

table.main td {
    vertical-align: top;
}

td.left-slot {
  padding: 0 20px;
  width: 200px;
}

th.last, td.last {
    text-align: right !important;
    padding-right: 10px;
}

table.lfs-manage-table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

.lfs-manage-table th {
    min-height: 30px;
    height: 30px;
    background-color: #ede9e8;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #555;
}

.lfs-manage-table td {
    padding: 4px 10px;
    border: 1px solid #ddd;
}

.lfs-manage-table.full {
    width: 100%;
}

.lfs-manage-table.half {
    width: 50%;
}

.lfs-manage-table .large {
    width: 300px;
}

.lfs-manage-table .middle {
    width: 200px;
}

.lfs-manage-table .small {
    width: 100px;
}

.lfs-manage-table .tiny {
    width: 1px;
}

.lfs-manage-table .right-padding {
    text-align: right;
    padding-right: 10px;
}

.lfs-manage-table .right {
    text-align: right;
}

.lfs-manage-table .emphasized {
    font-weight: bold;
    color: #555;
}

/* Navigation */
.page-navigation {
    background: #eee;
    border: 1px solid #ccc;
    padding: 2px 0 6px 0;
    text-align: center;
    color: #555;
}

.icon,
.page-navigation img {
    position: relative;
    top: 4px;
}

table.groups {
    width: 95%;
    border: 1px solid #eee;
    margin-left: 30px;
}

table.groups,
table.groups tr.header,
table.users,
table.users tr.header {
    border: 1px solid #ccc;
}

table.users-navigation th,
table.users-navigation td {
    padding: 4px;
    vertical-align: center;
}

table.users-navigation img {
    position: relative;
    top: 2px;
}

.navigation-group,
.navigation-user {
    margin-top: 20px;
    padding-left: 10px;
}

.navigation-manage {
    padding-top: 10px;
}

.navigation-manage ul {
    margin:0;
    padding:0;
    list-style: none;
}

.navigation-manage a {
    color: black;
    text-decoration: none;
    border: none;
    display:block;
    padding: 5px 5px;
}

.navigation-manage a:hover {
    background-color: #ede9e8;
    color: black;
}

li.current a {
    background-color: #ede9e8;
}

.navigation-manage .level-2 a {
    padding-left: 20px;
}

.navigation-manage .level-3 a {
    padding-left: 40px;
}

.navigation-manage .level-4 a {
    padding-left: 60px;
}

.navigation-manage .level-5 a {
    padding-left: 80px;
}

div.site-actions {
    margin: 20px 0;
    padding-bottom: 20px;
}

div.site-actions img {
    position: relative; top: 3px;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

/* Buttons */
.add {
    margin: 0 10px;
    padding-left: 18px;
    background: url(/media/lfc/icons/add.png) no-repeat;
    text-decoration: none;
}

.delete {
    padding-left: 16px;
    background: url(/media/lfc/icons/delete.png) no-repeat;
    text-decoration: none;
}

.edit {
    padding-left: 16px;
    background: url(/media/lfc/icons/edit.png) no-repeat;
    text-decoration: none;
}

.view {
    margin: 0 10px;
    padding-left: 18px;
    background: url(/media/lfc/icons/zoom.png) no-repeat;
    text-decoration: none;
}

.language {
    margin: 0 10px;
    padding: 0 0 2px 20px;
    background: url(/media/lfc/icons/world.png) no-repeat;
    text-decoration: none;
}

.translate {
    margin: 0 10px;
    padding: 0 0 2px 20px;
    background: url(/media/lfc/icons/world_edit.png) no-repeat;
    text-decoration: none;
}

div.footer {
    color: #58585a;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding: 10px 0;
}

div.footer a {
    color: #58585a;
}

div.footer p {
    text-align: center;
}

table.lfc-main {
    width: 100%;
}

.lfc-left-slot {
    width: 16em;
}

.lfc-right-slot {
    width: 16em;
}

.lfc-main td {
    vertical-align: top;
}

.manage-form-buttons {
    padding-top: 20px;
}

.field {
    padding-bottom: 10px;
}

div.label {
    margin-bottom: 4px;
}

label {
    font-weight: bold;
}

.padding {
    padding: 10px 0;
}

.padr {
    padding-right: 10px;
}

.padding-b {
    padding-bottom: 15px;
}

.portlet-form td.label {
    padding-right: 40px;
}

.portlet-form .buttons {
    padding-top: 10px;
}

.portlets-blocking {
    margin-bottom: 5px;
}

.no-portlets {
    padding: 10px 0;
}

div.overlay {
    background-color: #fff;
    display: none;
    padding: 15px 50px 15px 15px;
    text-align: left;
    z-index: 1000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px #222;
    -moz-box-shadow: 10px 10px 5px #222;
}


div.overlay div.close {
    background-image: url(../img/close.png);
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

div.delete-dialog {
    background-color: #fff;
    display: none;
    padding: 15px;
    text-align: left;
    z-index: 1000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px #222;
    -moz-box-shadow: 10px 10px 5px #222;
}

.errorlist {
    color: red;
}

.translate-form .errorlist,
.translate-form .errorlist li {
    display: inline;
}

button {
    margin-top: 10px;
    padding: 10px;
}

body.filebrowser {
    padding: 10px 20px;
}

.filebrowser ul {
    padding-left: 10px;
}
.filebrowser li {
    list-style: square inside;
}

.ajax-loading {
    padding-left: 10px;
    display: none;
    color: #555;
}

.field-wrapper {
    border: 1px solid #aaa;
    padding: 10px 5px;
    width: 600px;
    margin-bottom: 10px;
}

.description.field-wrapper {
    height: 100px;
}

.text.field-wrapper {
    height: 400px;
    overflow: auto;
}

.wf_permission .permission {
    color: red;
}